@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

body {
  background-image: url("../images/3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.projects-list {
  list-style: none;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.projects-item {
  text-align: center;
  min-height: 800px;
  width: calc(20% - 50px);
}

.projects-item-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;

}

.projects-item-title {
  font-family: "Roboto-Bold";
  text-align: center;
  height: 80px;
  line-height: 80px;
  display: block;
  color: Black;
  font-size: 40px;
  border: 2px solid black;
  background-color: rgb(244, 142, 33);

}

.projects-item-button {
  height: 40px;
  border-radius: 10px;
  font-family: "Roboto-Bold";
  font-size: 20px;
  margin-top: 20px;
  color: rgb(244, 142, 33);

}

.projects-item-button:hover {
  background-color: black;
}

.projects-link {
  display: block;
  text-decoration: none;
  color: black;
}

.projects-link:hover {
  color:rgb(244, 142, 33);
}

.img-cali {
  display: block;
  width: 100%;
}
