@import url(./colors.css);
@import url(./fonts.css);
@import url(./base.css);

.wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.projects-list {
  padding-top: 20px;
  position: relative;
  width: 100%;
}

.projects-item {
  position: absolute;
  transition: transform 0.2s ease-in-out;
  width: 180px;
}

.projects-item:nth-of-type(even) > .projects-link {
  background-color: var(--color-green-lighter);
}

.projects-item:nth-of-type(odd) > .projects-link {
  background-color: var(--color-orange);
}

.projects-link {
  display: block;
  height: 180px;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  text-decoration: none;
}

.projects-link::before {
  align-items: center;
  background-color: inherit;
  color: white;
  content: attr(data-title);
  display: flex;
  font-size: 14px;
  font-weight: 700;
  height: 100%;
  justify-content: center;
  line-height: 1;
  margin: 0;
  position: absolute;
  top: 100%;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 2;
}

.projects-link:hover::before {
  top: 0;
}

.projects-image {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.projects-techs {
  align-items: center;
  column-gap: 7px;
  display: flex;
  height: 30px;
  padding: 0;
}

.projects-icon {
  align-items: center;
  display: flex;
  height: 100%;
  width: 30px;
}

.footer {
  padding-inline: 30px;
}

.footer-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer-item {
  width: 30px;
}

.footer-link {
  display: block;
  height: 100%;
}

.footer-icon {
  align-items: center;
  display: flex;
  height: 100%;
}
