@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

body {
  background-image: url("../images/img.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.projects-list {
  list-style: none;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.projects-item {
  text-align: center;
  min-height: 800px;
  width: calc(20% - 50px);

}
.projects-item-cont {
  margin-bottom: 30px;
  padding: 1px;
  border: 2px solid teal;
  background-color: rgb(194, 147, 81);

}

.projects-item-title {
  font-family: "Roboto-Bold";
  text-align: center;
  max-height: 1px;
  line-height: 1px;
  display:block;
  color: Black;
  font-size: 40px;
}

.projects-link {
  display: block;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.img-cali {
  display: block;
  width: 100%;
}



